<!DOCTYPE html>
<html>
<head>
  <title>Enter Your Personal Information</title>
</head>
<body>
<h1>Enter Your Personal Information</h1>

<% if @submitted && @all_ok %>
  <p>Thanks <%=h @firstname %>, we got your data.</p>
<% else %>

  <% if @submitted && !@all_ok %>
    <p style="color:red">There were errors in your form
    submission, please correct them below.</p>
  <% end %>

  <form method="post" action="form_handler">

    <% if @submitted && !@firstname_ok %>
      <p style="color:red">Please enter your first name</p>
    <% end %>

    <p>Your first name:
      <input type="text" name="firstname"
      value="<%=h @firstname if @submitted %>"/>
    </p>

    <% if @submitted && !@surname_ok %>
      <p style="color:red">Please enter your surname</p>
    <% end %>

    <p>Your surname:
      <input type="text" name="surname"
      value="<%=h @surname if @submitted %>"/>
    </p>

    <% if @submitted && !@email_address_ok %>
      <p style="color:red">Please enter your email address</p>
    <% end %>

    <p>Your email address:
      <input type="text" name="email_address"
      value="<%=h @email_address if @submitted %>"/>
    </p>

    <input type="submit" value="Submit" />
  </form>

<% end %>

</body>
</html>